USE [master]
GO
/****** Object:  Database [EndGameDB]    Script Date: 24/01/2026 11:00:26 ******/
CREATE DATABASE [EndGameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EndGameDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EndGameDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EndGameDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EndGameDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EndGameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EndGameDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK__Users__3213E83FA8E091F2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Word] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [password], [username]) VALUES (1, N'Admin123', N'Louka18')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [email], [password], [Score]) VALUES (1, N'louka@gmail.com', N'felfel', 0)
INSERT [dbo].[Users] ([id], [email], [password], [Score]) VALUES (2, N'Hoda@gmail.com', N'HODA123', 5)
INSERT [dbo].[Users] ([id], [email], [password], [Score]) VALUES (4, N'wail@gmail.com', N'$2b$08$BSU.6lhSWat99hfyh0ajr.TaO9oXl2wN8wQI8FQCPWqt.1d8lGvN6', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([id], [Category], [Word]) VALUES (1, N'javascript', N'react')
INSERT [dbo].[Words] ([id], [Category], [Word]) VALUES (2, N'javascript', N'useState')
INSERT [dbo].[Words] ([id], [Category], [Word]) VALUES (3, N'javascript', N'promise')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Score]  DEFAULT ((0)) FOR [Score]
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewUser]
    @Email NVARCHAR(100),
    @Password NVARCHAR(100),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO [Users] (Email, Password)
    VALUES (@Email, @Password);

    SET @Id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddWord]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddWord]
@Category nvarchar(100),
@Word nvarchar(100)
as begin
  Insert into Words(Category,Word)
  Values (@Category,@Word)
  select SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteWord]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_DeleteWord]
@Id int
as begin
  
  Delete from Words where Id=@Id
  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllUsers]
as
begin 
select *from [Users]
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllWords]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllWords] 
as
begin
     Select *from Words;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRandomWord]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[SP_GetRandomWord]
@Category nvarchar(100)
as begin 
  Select Top 1 id,Category,Word from Words
  where Category = @Category
  order By NEWID();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByEmail]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT TOP 1 *
    FROM [Users]
    WHERE Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserEmail]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateUserEmail]
@id int,
@email nvarchar(100)
as begin
Update Users set email = @email where id =@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPass]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdateUserPass] 
@Id int,
@Password nvarchar(100)
as
begin
Update  Users set password = @Password where id = @Id;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateWord]    Script Date: 24/01/2026 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateWord]
@Id int,
@NewWord nvarchar(100)
as begin
  
  Update Words
  set Word = @NewWord where id=@Id
end
GO
USE [master]
GO
